<div class="produto">
    <img src="{{ img }}" alt="{{ nome }}" class="img">
    <div class="details">
        <p class="nome">{{ nome }}<br>
        <span *ngIf="description != ''" class="description">{{ description }}</span></p>
        <p class="compra">Preço: {{ preco | money}} {{  medida }}<br>
        Quantidade: <input type="number" id="quantidade" name="quantidade" [(ngModel)]="quantidade"></p>
        <button id="add_cart" [disabled]="desativarButton()" (click)="addCarrinho()" title="Adicionar ao carrinho"><mat-icon>add_shopping_cart</mat-icon></button>
    </div>
</div>
