<h3>Exercício Aula 3</h3>
<p>Criar o componente MyCollection, cujas características são:</p>
<ul>
    <li>Exibição do nome da coleção</li>
    <li>Exibição da categoria (apenas se ela existir)</li>
    <li>Exibição de todos os itens da coleção</li>
    <li>
        Cada item deve ter os seguintes atributos:
        <ul>
            <li>Nome</li>
            <li>Quantidade</li>
            <li>Estado (lacrado, usado em bom estado, danificado)</li>
        </ul>
    </li>
    <li>Cada item deve ser mostrado com um estilo que reflita seu estado</li>
    <li>A coleção deve ser armazenada em um vetor</li>
</ul>