<div id="main-form">
    <form [formGroup]="dataSource" (ngSubmit)="submitLogin($event)" #formDir="ngForm">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" class="input" placeholder="Insira seu email" formControlName="email" />
            <span *ngIf="email?.errors?.['required'] && formDir.submitted">Você deve inserir um email</span>
        </div>
        <div>
            <label for="password">Senha</label>
            <input type={{inputType}} name="password" class="input" placeholder="Insira sua senha" formControlName="password">
            <mat-icon (click)="togglePass()" id="eye-icon">{{visibility}}</mat-icon>
            <span *ngIf="password?.errors?.['required'] && formDir.submitted">Você deve inserir uma senha</span>
            <span *ngIf="password?.errors?.['minlength'] && formDir.submitted">A senha deve ter pelo menos 8 letras</span>
        </div>
        <button type="submit" class="save">Entrar</button>
    </form>
</div>
