<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo crud com api</title>
</head>
<body>
    <h1>Crud com API</h1>
    <hr>
    <button id="add">Novo contato</button>
    <div id="newContact">
        
    </div>
    <h3>Lista de contatos:</h3>
    <label for="filterList">Filtrar:</label>
    <select id="filterList">
        <option value="all"></option>
    </select>
    <ul id="listaContatos">
        
    </ul>
    <script src="../static/ajax.js"></script>
</body>
</html>