@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");
html {
  overflow-x: hidden;
}

form {
  padding: 1rem;
  padding-top: 15vh;
  margin: 0.5rem;
  font-family: "Aref Ruqaa Ink", serif;
}
form h1 {
  font-size: 22pt;
}
form fieldset {
  border: none;
  outline: none;
  margin-bottom: 3rem;
}
form fieldset h3 {
  font-size: 18pt;
}
form .sedesGroups {
  display: grid;
  grid-template: 30vh 30vh/1fr 1fr 1fr;
  grid-gap: 1.8rem;
}
form .sedesGroups .sede {
  text-align: center;
  font-family: "Aref Ruqaa Ink", serif;
}
form .sedesGroups .sede input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
form .sedesGroups .sede input + label {
  cursor: pointer;
  font-size: 15pt;
}
form .sedesGroups .sede label img {
  width: 85%;
  height: 100%;
}
form .sedesGroups .sede label img:hover {
  border: solid 2px #000;
}
form .sedesGroups .sede input[type=radio]:checked + label img {
  filter: brightness(120%);
  border: solid 4px #000;
}
form .quartos {
  padding: 1rem;
}
form .quartos select {
  background: #aaa;
  border: none;
  outline: none;
  padding-left: 0.8em;
  border-radius: 10px;
  transition: all 0.4s;
  font-family: "Aref Ruqaa Ink", serif;
  width: 30%;
  font-size: 18pt;
}
form .qtdPessoas {
  width: 70%;
  padding: 1rem;
}
form .qtdPessoas input[type=number] {
  background: #aaa;
  border: none;
  outline: none;
  padding-left: 0.8em;
  border-radius: 10px;
  transition: all 0.4s;
  font-family: "Aref Ruqaa Ink", serif;
  font-size: 15pt;
  width: 25%;
  padding: 0.5rem;
}
form .qtdPessoas input[type=number]::-moz-placeholder {
  font-family: "Aref Ruqaa Ink", serif;
  color: #fff;
}
form .qtdPessoas input[type=number]:-ms-input-placeholder {
  font-family: "Aref Ruqaa Ink", serif;
  color: #fff;
}
form .qtdPessoas input[type=number]::placeholder {
  font-family: "Aref Ruqaa Ink", serif;
  color: #fff;
}
form .qtdPessoas input[type=number]:focus::-moz-placeholder {
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #000;
}
form .qtdPessoas input[type=number]:focus:-ms-input-placeholder {
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  color: #000;
}
form .qtdPessoas input[type=number]:focus::placeholder {
  transition: all 0.4s;
  color: #000;
}
form .datas {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
form .datas > div {
  margin-right: 3rem;
}
form .datas > div label {
  font-size: 16pt;
}
form .datas > div input {
  background: #aaa;
  border: none;
  outline: none;
  padding-left: 0.8em;
  border-radius: 10px;
  transition: all 0.4s;
  font-family: "Aref Ruqaa Ink", serif;
  font-size: 15pt;
  padding: 0.5rem;
}
form button {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 8px;
  padding-top: 2px;
  background: linear-gradient(to bottom, #ff416c, #ff4b2b, #f59426);
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  text-weight: 700;
  font-family: "Aref Ruqaa Ink", serif;
  font-family: "Aref Ruqaa Ink", serif;
  border: none;
  outline: none;
  font-size: 2rem;
}
form button:hover {
  background: #fff;
  color: #ff416c;
  border: solid 1px #aaa;
  cursor: pointer;
}/*# sourceMappingURL=estiloReservas.css.map */