*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}

#title{
    text-align: center;
    font-size: 27pt;
    text-transform: uppercase;
}

#placar {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    font-size: 25pt;
}

button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: rgb(148, 148, 148);
    font-weight: bold;
}

button:hover{
    box-shadow: 2px 2px 5px black;
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}

#partida{
    font-size: 15pt;
}

select{
    padding: 2px;
    border-radius: 10px;
}
option{
    padding-right: 8px;
}

#victory{
    text-transform: uppercase;
    font-size: 27pt;
    animation: victorious 1s infinite;
}

@keyframes victorious{
    0%{
        color: orange;
    }
    50%{
        color: orangered;
    }
    100%{
        color: orange;
    }
}