body{
    position: relative;
    border: 1px solid #696969;
    box-shadow: 2px 2px 5px #464646;
    width: 90%;
    height: 50%;
    margin: 5%;
    overflow-y: scroll;
}

@media (max-height: 650px) {
    body{
        height: 75%;
    }
}