<h3>Exercício Aula 5</h3>
<p>Fazer um site de filmes:</p>
<ul>
    <li>
        3 telas: categoria, lista de filmes e detalhes do filme
        <ul>
            <li>Categoria: lista e exibição das categorias</li>
            <li>Lista de Filmes: listagem dos filmes de acordo com as categorias selecionadas</li>
            <li>Detalhes do Filme: tela de detalhes do filme, no mínimo: título, categoria, nota</li>
        </ul>
    </li>
    <li>Fazer a navegação entre as telas usando rotas </li>
    <li>Componentes: utilizar componentes do Angular Material</li>
</ul>
<app-site></app-site>
