<div id="content">
    <mat-grid-list cols="4" rowHeight="1.5:1" gutterSize="15">
      <mat-grid-tile>
        <a routerLink="../movieList/Ação" id="action">Ação</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Aventura" id="adventure">Aventura</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Comédia" id="comedy">Comédia</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Drama" id="drama">Drama</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Musical" id="musical">Musical</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Romance" id="romance">Romance</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Terror" id="terror">Terror</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="../movieList/Suspense" id="suspense">Suspense</a>
      </mat-grid-tile>
    </mat-grid-list>
</div>

