@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');


@mixin estiloInputs{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #aaa;
    border: none;
    outline: none;
    padding-left: 0.8em;
    border-radius: 10px;
    transition: all .4s;
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 13pt;
}

@mixin placeholder{
    &::placeholder{
        font-family: 'Aref Ruqaa Ink', serif;
        color: #fff;
    }
    &:focus::placeholder{
        transition: all .4s;
        color: #000;
    }
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #aaa;
    width: 95%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Aref Ruqaa Ink', serif;

    fieldset{
      border: {
        radius: 25px;
        color: #fff;
      }
      margin-top: 0;
      padding-bottom: 0;
      height: 100%;
      legend{
        font-size: 18pt;
        margin-top: 0;
        margin-bottom: 0.2em;
      }
      p{
        margin: 3px;
      }
      .form-item{
        margin: 0.2em 0;

        label{
          font-weight: 700;
          letter-spacing: 1px;
        }

        div{
          position: relative;
          width: 80%;
          height: 40px;
          margin: 0.3em 0;
          font-size: 15pt;

          &::before{
            content: '';
            position: absolute;
            width: 106%;
            height: 120%;
            transform: translate(-1%, -5%);
            border-radius: 10px;
            background: linear-gradient(to bottom, rgba(240, 240, 240, 0.527), rgba(255, 255, 255, 0.74));
          }
        }
        input[type="text"], input[type="tel"], input[type="email"], input[type="password"]{
          @include estiloInputs;
          @include placeholder;
        }
        input[type="date"]{
          @include estiloInputs;
        }
        select{
          @include estiloInputs;
        }
        textarea{
          @include estiloInputs;
          @include placeholder;
          overflow-y: scroll;

          &::-webkit-scrollbar{
            width: 5px;
          }
          &::-webkit-scrollbar-track{
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb{
            background-color: #fff;
            border-radius: 20px;
            border: #fff;
          }
        }
      }
      .buttons{
        display: flex;
        width: 90%;
        justify-content: space-around;

        a{
            background: linear-gradient(to bottom, #ff416c, #ff416c, #ff4b2b, #ff4b2b, #f59426);
            padding: 9px;
            padding-top: 5px;
            color: #fff;
            font-family: 'Aref Ruqaa Ink', serif;
            font-size: 15pt;
            text-decoration: none;
            border-radius: 15px;
          }
      }
    }
}