<h3>Exercício Aula 4</h3>
<ul>
    <li>Crie uma pequena aplicação que permita adicionar itens a um carrinho</li>
    <li>A aplicação deve ter uma tela de login, uma tela de carrinho com botões para adicionar produtos, finalizar a compra e fazer login.</li>
    <li>Adicionar produtos pode ser feito a qualquer momento, mas finalizar compra só pode ser habilitado após o usuário fazer login</li>
    <li>Para fazer login, basta apertar o botão de login, não há necessidade de fazer uma tela de login.</li>
    <li>
        A aplicação deve ser dividida nos seguintes componentes: 
        <ul>
            <li>Produto com descrição e valor</li>
            <li>Item que possui um Produto e uma quantidade</li>
            <li>Carrinho que contém uma lista de Produtos</li>
            <li>Um serviço de login que simplesmente informa se o usuário fez login.</li>
        </ul>
    </li>
</ul>
<app-application></app-application>


