<h3>Exercício Aula 7</h3>
<ol>
    <li>
        Crie um pipe para converter um número em um valor monetário.
        <ul>
            <li>Exemplo: 123.45 é convertido para R$ 123,45 </li>
        </ul>
    </li>
    <li>Crie um pipe para filtrar todos os elementos pares ou ímpares de um array numérico. </li>
    <li>
        Crie um pipe para truncar um texto e mostrar reticências. Deve receber um parâmetro numérico<br> que indica a quantidade máxima de caracteres.
        <ul>
            <li>Exemplo: <b>Lasanha Quatro Queijos</b> deve ser convertido para <b>Lasanh ...</b> caso o pipe receba o<br> parâmetro 6. Mas <b>Pipoca</b> continua <b>Pipoca</b> pois tem apenas 6 caracteres.</li>
        </ul>
    </li>
</ol>
<app-pagina7></app-pagina7>